asgiref==3.12.1
dj-database-url==2.2.0
Django==4.2.9
django-cors-headers==4.0.0
djangorestframework==3.17.1
gunicorn==26.0.0
packaging==26.2
psycopg2-binary==2.9.9
python-dotenv==1.0.1
sqlparse==0.5.5
typing_extensions==4.16.0
